:root {
    --background-primary: #080808;
    --background-secondary: #161616;
    --background-tertiary: #202020;
    --text-bright: #f2f2f2;
    --text-normal: #dedede;
    --text-muted: #999;
    --accent: #5485ff;
    --accent-hover: #557fe1;
    --shadow: rgba(0, 0, 0, 0.2);
}

body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: var(--background-primary);
    color: var(--text-bright);
    display: flex;
    flex-direction: column;
}

a {
    color: var(--accent);
    text-decoration: underline;
}

a:visited {
    color: var(--accent);
}

header {
    max-width: 95vw;
    margin: 20px auto;
}

header>nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 0 auto;
    width: 95vw;
}

header>nav>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    display: flex;
    flex: 1;
    justify-content: space-between;
    max-width: 95vw;
    margin: 0 auto;
}

main>nav {
    width: 20vw;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--background-primary);
    height: min-content;
}

main>nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

main>nav>ul>li {
    font-weight: 600;
}

main>nav>ul ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    font-weight: 400;
}

main>nav a {
    color: var(--text-normal);
    padding: 4px;
    margin-bottom: 10px;
    text-decoration: none;
    color: var(--text);
    border-radius: 5px;
    display: block;
    transition: all 100ms;
}

main>nav a:visited {
    color: var(--text-normal);
}

main>nav a:hover {
    color: var(--text-bright);
}

h1 {
    text-align: center;
    padding: 20px 0;
    margin: 0;
}

.y-line {
    content: '';
    width: 2px;
    background-color: var(--text-bright);
    height: 100vh;
    position: sticky;
    bottom: 0;
    top: 0;
    margin: 0 20px;
}

form {
    width: 70vw;
    margin-top: 20px;
}

#settings-form>div {
    margin: 20px auto;
    background-color: var(--background-secondary);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px var(--shadow);
}

#settings-form>div:first-child,
form>div>div>ul>li:first-child {
    margin-top: 0;
}

.setting-section {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--text-muted);
    border-radius: 5px;
}

.setting-info {
    font-size: 14px;
    color: var(--text-normal);
    margin-top: 5px;
}

button {
    background-color: var(--accent);
    color: var(--text-bright);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"],
button#add-message-function {
    margin-top: 0;
}

button:hover {
    background-color: var(--accent-hover);
}

form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form>div>div>ul>li>ul {
    padding: 0 10px;
    border: 1px solid var(--text-muted);
}

form ul li {
    padding: 4px 0;
    margin: 10px 0 0 0;
}


form>div>div>ul:has(li) {
    background-color: var(--background-tertiary);
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}

.setting-section>div:not(.title) {
    margin: 14px 0;
}

.setting-section>div>div.title {
    display: flex;
    flex-direction: row;
}

.setting-section>div>div.title>h2 {
    margin: 0;
    margin-left: 8px;
}

hr {
    border: none;
    border-bottom: 1px solid var(--text);
    margin: 20px 0;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.row select,
.row input[type="text"] {
    margin-top: 10px;
    padding: 10px;
}

div.docs {
    background-color: var(--background-secondary);
    margin: 20px auto;
    padding: 0 20px;
    border-radius: 5px;
    width: 70vw;
    max-width: 768px;
}

div.docs code,
div.docs pre {
    background-color: var(--background-tertiary);
    padding: 10px;
    border-radius: 5px;
    display: block;
    margin: 10px 0;
    overflow-x: scroll;
}

div.docs code {
    display: unset;
    padding: 1px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table>tbody>tr>td,
table>tbody>tr>th {
    padding: 10px;
    border: 1px solid var(--text-muted);
    margin: 0;
}

.command-details {
    display: none;
}

.command-toggle {
    cursor: pointer;
}

section#slash-commands>ul>li {
    margin: 10px 0;
}

#server-list {
    list-style: none;
    padding: 10px;
}